@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=La+Belle+Aurore);


body {
	background-color: white;
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    background-opacity: 0.2;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-weight: bold;
    
}

nav.navbar ul {
	background-color: #ffd040;
	border-radius: 10px;
	top: 0;
	position: fixed;
	opacity: 0.95;
	width: 100%;
	text-align: center;
}

nav.navbar ul:hover {
 	opacity: 1;
}

nav li {
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    padding-top: 10px;
    font-family: 'La Belle Aurore', cursive;

}

nav a:visited,
nav a:link,
nav a:hover {
	color: #4C036E;
    text-decoration: none;
    font-weight: bold;

}

nav li:hover {
    background-color: #Ffc000;
}
h1 {
	font-family: 'La Belle Aurore', cursive;
	font-size: 50px;
	color: black;
	padding: 10px;
	clear: both;
}

h2 {
	font-size: 120%;
	color: black;
	clear: both;
	font-family: 'La Belle Aurore', cursive;
	font-weight: bold;
}

h2.description {
	text-align: center;
}
h3 {
	font-size: 25px;
	color: black;
	text-align: left;
	padding-left: 40px;
}

h4 {
	text-align: left;
	color: black;
	font-style: none;
	padding-left:10px;
	font-weight: bold;
}

dt {
	font-weight: bold;
	font-size: 25px;
	color: black;
	text-align: center;
}

dd {
	text-align: center;
	color: black;
}

footer {
	font-size: 140%;
	border-color: gray;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	color: black;
	position: fixed;
	font-family: 'La Belle Aurore', cursive;
    text-align: center;
    font-weight: bold;
    background-color: #ffd040;
	border-radius: 10px;
	max-height: 50px;
    bottom: 0;
	opacity: 0.95;
	/*margin: 0 auto;*/
	width: 100%;
	left: 0;
}

.order {
	position: fixed;
	width: 300px;/*
	min-height: 500px;*/
	right: 30%;
	top: 47%;
	bottom: 53%;
	margin-left: -300px;
}

footer:hover {
    opacity: 1;    
}

header {
	padding-bottom: 10px;
	font-family: 'La Belle Aurore', cursive;
	clear:both;
}

.image {
	height: 70%;
	max-width: 100%;
	padding: 10px;
}

.ddContainer {
	width: 50%;
	margin: 0 auto;
}

.media-object {
	max-width: 300px;
}

.media-heading {
	text-align: center;
}

@media (max-width: 767px) {
    .content-box {
        width: 100%;
    }

    img.media-object {
        display: none;
    }

    img.image {
    	display: none;
    }

   	h1 {
        line-height: 2em;
        text-align: center;
    }

    .col {
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 479px) {
    body {
        font-size: 16px;
    }
}

input:focus {
outline-color: #4C036E;
outline-width: 2px;
font-weight: bolder;
}

iframe {
	height: 50%;
	width:100%;
	padding: 10px;
	clear: both;
}