@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
@import url(http://fonts.googleapis.com/css?family=La+Belle+Aurore);


body {
	background-image: url('../img/ricepaper.png');
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    background-opacity: 0.2;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-weight: bold;
    
}

nav.navbar ul {
	background-color: #bbbe30;
	border-radius: 10px;
}

nav li {
    display: inline-block;
    list-style: none;
    text-align: center;
    font-size: 25px;
    padding: 5px;
    padding-top: 10px;
    font-family: 'La Belle Aurore', cursive;
}

nav a:visited,
nav a:link,
nav a:hover {
	color: #4C036E;
    text-decoration: none;
    font-weight: bold;
}

nav li:hover {
    background-color: #F9FE40;
}
h1 {
	font-family: 'La Belle Aurore', cursive;
	font-size: 50px;
	color: #4C036E;
	padding: 10px;
	clear: both;
}

h2 {
	font-size: 120%;
	color: black;
	clear: both;
	font-family: 'La Belle Aurore', cursive;
	font-weight: bold;
}

h2.description {
	text-align: center;
}
h3 {
	font-size: 25px;
	color: #4C036E;
	text-align: left;
	padding-left: 40px;
}

h4 {
	text-align: left;
	color: #4C036E;
	font-style: none;
	padding-left:10px;
	font-weight: bold;
}

dt {
	text-align: center;
}

dd {
	text-align: center;
	color: #4C036E;
}

footer {
	font-size: 140%;
	border-color: gray;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
	color: #4C036E;
	position: fixed;
	font-family: 'La Belle Aurore', cursive;
    text-align: center;
    font-weight: bold;
    background-color: #bbbe30;
	border-radius: 10px;
	max-height: 50px;
	top: 90%;
    bottom: 0;
	opacity: 0.8;
	margin: 0 auto;
}

footer:hover {
    opacity: 1;    
}

header {
	padding-bottom: 10px;
	font-family: 'La Belle Aurore', cursive;
	clear:both;
}

.image {
	max-height: 50%;
	max-width: 100%;
	padding: 10px;
}

article {
	font-style: italic;
	font-weight: bold;
	color: black;
	border-color: #62247f;
	border-style: solid;
	margin: 5px;

}

dd {
	font-style: italic;
	color: black;
}

dt {
	font-weight: bold;
	font-size: 25px;
	color: #4C036E;
}

.media-object {
	max-width: 300px;
}

.media-heading {
	text-align: center;
}

@media (max-width: 767px) {
    .content-box {
        width: 100%;
    }

    img.media-object {
        display: none;
    }

    img.image {
    	display: none;
    }

   	h1 {
        line-height: 2em;
        text-align: center;
    }

    .col {
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 479px) {
    body {
        font-size: 16px;
    }
}

input:focus {
outline-color: #4C036E;
outline-width: 2px;
font-weight: bolder;
}

iframe {
	height: 50%;
	width:100%;
	padding: 10px;
	clear: both;
}